.hero {
    margin: 0px 120px;
    margin-top: 270px;
}

.hero-text{
    color:#fff;
    font-size: 110px;
    font-weight: 500;
    line-height: 130px;
}

.hero-explore{
    display:flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
}